<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="\Apparat\launc"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Apparat.Core/src/com/joa_ebert/apparat/tools/reducer/Reducer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.joa_ebert.apparat.tools.reducer.Reducer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-input assets\Example04.swf -output assets\Example04_R.swf"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Apparat.Core"/>
</launchConfiguration>
